<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{$title}</title>
    <import type="js" file="/js/jquery.min.js" />
    <import type="css" file="/css/Linger/Linger.css" />
    <literal>
        <foreach>
            aaa
        </foreach>
    </literal>
</head>
<body>
    <h1><?=$aaa?></h1>
    <h1>{$aaa}</h1>
    <ul>
        <foreach name="arr" item="val">
            <foreach name="arr" item="val">
            <li>{$val.userId} - {$val.userName}</li>
            </foreach>
        </foreach>
    </ul>
    <ol>
        <foreach name="arr" item="val" key="key">
            <li>{$key} - {$val.userId} - {$val.userName}</li>
        </foreach>
    </ol>
    <if condition="$flag eq true">
        <h1>this is if </h1>
    </if>
    <if condition="$flag eq false">
        <h1>this is false</h1>
        <else />
        <h1>this is true</h1>
    </if>
    <if condition="$flag eq false">
        <h1>this is false</h1>
        <elseif condition="$flag eq true"/>
        <h1>this is true</h1>
    </if>
    <h1>{$time|date='Y-m-d H:i:s', ###}</h1>
    <h1>{:Linger\Linger::C('DB_HOST')}</h1>
    <include file="footer.html" />
</body>
</html>