<header class="lg-mb20">
    <div class="lg-container">这是用angularjs测试信誉的页面</div>
</header>
<div class="lg-t20 lg-b20">
    <div class="lg-tab">
        <ul class="lg-tab-menu">
            <li ng-class="{active:tab==1}" ng-click="changeTabAndSearch(1, 'toUser')">我给别人的评价</li>
            <li ng-class="{active:tab==2}" ng-click="changeTabAndSearch(2, 'fromOther')">别人给我的评价</li>
        </ul>
        <div class="lg-tab-content">
            <div class="lg-tab-content-area" ng-show="tab==1">
                <table class="lg-form lg-table lg-table-form">
                    <tr>
                        <td>appraisednickname</td>
                        <td>appraisernickname</td>
                        <td>tradeid</td>
                        <td>tradetype</td>
                        <td>rating</td>
                        <td>content</td>
                    </tr>
                    <tr ng-repeat="review in reviews">
                        <td>{{review.appraisednickname}}</td>
                        <td>{{review.appraisernickname}}</td>
                        <td>{{review.tradeid}}</td>
                        <td>{{review.tradetype}}</td>
                        <td>{{review.rating}}</td>
                        <td>{{review.content}}</td>
                    </tr>
                </table>
            </div>
            <div class="lg-tab-content-area" ng-show="tab==2">
                <table class="lg-form lg-table lg-table-form">
                    <tr>
                        <td>appraisednickname</td>
                        <td>appraisernickname</td>
                        <td>tradeid</td>
                        <td>tradetype</td>
                        <td>rating</td>
                        <td>content</td>
                    </tr>
                    <tr ng-repeat="review in reviews">
                        <td>{{review.appraisednickname}}</td>
                        <td>{{review.appraisernickname}}</td>
                        <td>{{review.tradeid}}</td>
                        <td>{{review.tradetype}}</td>
                        <td>{{review.rating}}</td>
                        <td>{{review.content}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>